.trainlist button span,
.routnum {
    span{
    border: 1px solid $train;
    text-align: center;
    border-radius: 5px;
    width: 20px;
    padding: 3px 6px;
    // margin-right: 7%;
    // font-weight: 600;
    background: rgba(235, 250, 252, .5);
    color: $train;
    }
}

.trainlist ion-list {
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    margin-bottom: 1em;
}

.rout {
    width: 15%;
    text-align: center;
    display: inline-block;
}

.trainlist {
    color: $train;
    & .grid-train {
        text-align: center;
        color: $text;
        margin-top: -3em;
        line-height: 1.3em;
        // position: absolute;
        left: 2em;
        // width: 90%;
    }
    & .gridHeader {
        text-align: center;
        color: $hidden;
        margin-left: 2em;
        // line-height: .7em;
        font-size: .7em;
    }
    & .col {
        display: inline-block;
    }
    &.row {
        padding-bottom: 6px;
        margin-bottom: 4px;
    }
    & .mini {
        font-size: .8em;
        line-height: .8em;
    }
    & .sov {
        font-size: .9em;
    }
}

.trainlist ul {
    display: block;
}
.trainlist ion-row {
    margin:3px 0px;
}

.trainlist .station {
    color: $train;
}

.routname .segment-button {
    font-size: 2rem;
}

.toolbar-background {
    background: rgba(235, 240, 245, .5);
}

.trainlist .segment-md .segment-button {
    color: #fff;
    margin: 0px;
    font-size: 1.4rem;
    height: 40px;
}

.trainlist .segment-md .segment-button.segment-activated {
    border-color: #fff;
    opacity: 1;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #fff;
}

.trainlist item-block {
    min-height: 8em;
}

.trainlist ion-label {
    font-variant: caps;
    font-weight: 300;
}

.trainlist item-md {
    font-variant: caps;
    font-weight: 600;
    margin-left: 7px;
}

.trainlist .icon {
    font-size: 1.8em;
}

.trainlist ion-label:after {
    position: absolute;
    display: inline-block;
    line-height: 1;
    content: '\203a';
    font-size: 30pt;
    right: 6px;
    top: 0px;
    transition: transform .15s ease-in-out;
    color: $hidden;
}

.trainlist label {
    cursor: pointer;
    display: block;
    font-size: 1.7rem;
    line-height: 4rem;
    border-top: 0px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2px;
    color: $bg;
    background: $train;
}


/* ================ The Timeline ================ */

$black: #202020;
$white: #fff;
$dark-grey: #E6F6F2;
$grey: rgba(159, 161, 161, .4);
$light: rgba(194, 230, 220, .5);
$purple: #B97CFC;
$pink: #F93B69;
$disable: #938FA8;
$var: #C3DEDF;
$orange: #EB8B6E;
.trainlist .header {
    background: url(../assets/img/200.jpg);
    background-size: 100% 100%;
 
    }

.table-train {
    position: absolute;
    top: 12px;
    color: rgba(180,182,181, .6); 
    text-shadow: $hidden 1px 1px 1px;
    right: 10px;
    width: 30%;
    text-align: center;
    font-size: .8em;
}

.table-train .detals {
    font-size: 1em;
    color: rgba(235, 250, 252, .6); 
    // color: $white;
}

.color-overlay {
    padding: 1em 2em;
    box-sizing: border-box;
    // background: rgba(160,218,225, 0.5);
    background: linear-gradient(110deg, rgba(160, 218, 225, 0.1) 62%, rgba(160, 218, 225, 0.2) 23%);
}

// .actionbutton {
//     position: absolute;
//     background: $white;
//     width: 50px;
//     height: 50px;
//     font-size: 1.8em;
//     font-weight: 300;
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: -25px;
//     right: 20px;
//     box-shadow: 0 0 8px #202020;
// }
.city {
    font-size: 2.2em;
    display: inline-block;
    text-shadow: $hidden 0px 2px 4px;
    color: rgba(243,249,250, .5);
    &.end {
        position: absolute;
        right: .2em;
        padding: 1.5em 1em; 
    }
}
.date-right {
    display: inline-block;
}
.month {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.6em;
    letter-spacing: 2px;
    margin-top: 2px;
}
.timeline {
    // margin-left: -60px;
    // position: relative;
    // left: 16%;
}

.timeline {
    max-width: 30em;
    margin: .5em auto .5em;
    li {
        margin-left: 1.5em;
        text-align: left;
        // padding-top: 0px;
        // padding-bottom: 2em;
    }
    ul {
        padding-left: 1.54em;
        // margin-left: 35px;
        list-style: none;
        position: relative;
        &::before {
            content: ' ';
            height: 100%;
            left: 1.5em;
            width: .12em;
            background-color: $train;
            position: absolute;
            top: 0;
            z-index: -1;
        }
        &.time-train {
            max-width: 6em;
            font-size: 1.5rem;
            text-align: left;
            // left: -30px;
        }
    }
    li div {
        vertical-align: top;
    }
    .bullet {
        width: 1em;
        height: 1em;
        box-sizing: border-box;
        border-radius: 50%;
        background: $white;
        z-index: 1;
        margin-left: -2em;
        margin-top: 2em;
       
        &.disable {
             border: 1px solid $disable;
            //  box-shadow: 0 1px 2px #9CC6D7, 0 0 3px rgba(103, 153, 173, .42), 0 2px 4px rgba(0, 0, 0, .24);
        }
        &.var {
            border: 3px solid $disable;
        }
        &.def {
            
            border: 2px solid $train;
        }
        &.start {
            width: 1.3em;
            height: 1.3em;
            // margin-right: 18px;
            // margin-left: -28px;
            margin-left: -2.15em;
            border: 4px solid $white;
            background: $train;
             box-shadow: 0 0 3px #5237CB, 0 2px 1px rgba(103, 153, 173, .5), 0 2px 3px rgba(0, 0, 0, .2);
        }
    }
    .st {
        // width: 40%;
        font-size: 1.2em;
        // padding-top: 0.25em;
    }
    .desc {
        // width: 70%;
        margin-left: 8px;
        display: initial;
        font-size: .9em;
    }
    .desc td {
        text-align: center;
        // padding-right: 5%;
        &.day {
            width: 80px;
            color: $text;
            font-size: 0.9em;
        }
    }
    .desc tbody {
        color: $hidden;
        text-align: center;
        width: 90%;
    }
    h3 {
        font-size: 1.1em;
        font-weight: 400;
        top: -34px;
        position: relative;
        padding-bottom: 5px;
        width: 85%;
        border-bottom: 1px $hidden2 dotted;
    }
    h4 {
        // margin: 0;
        // margin-left: 30%;
        max-width: 38px;
        font-size: 0.9em;
        font-weight: 400;
        color: $dark-grey;
    }
}

// *****END