// Рекламный банер
.img-promo1 {
    // max-height: 12em;
    // min-height: 4em;
    // text-align: center;
}
.img-promo1 div {
    margin: 0px auto;
    background: url("https://downloader.disk.yandex.ru/disk/e36b13eaba4a79775702b3711148549de484f4626879002873b90a5aa977db36/5955b245/7-HOnj4W7kTGA8xXqz5thPUsbDBbalWNH4V6LKF_GbxEV_ftFadNU6AfZbVzrwRQQxMAJLElqUbfJ47yPax1dQ%3D%3D?uid=0&filename=promo1.jpg&disposition=attachment&hash=I4WfOz4LxxrmJt6JuU0O%2BcnrF68%2BoB3wspUVtUYfDC0%3D%3A&limit=0&content_type=image%2Fjpeg&fsize=18455&hid=99d5b01a38298d385055756ff4bcd8a5&media_type=image&tknv=v2");
    height: 12em;
    background-repeat: no-repeat;
    background-size: 100%; 
	
    @media screen and (min-width: 840px) {
    background-size: none; 
        // width: 40%;
     }
    @media screen and (min-width: 470px) {
        background-size: none; 
        width: 50%;
     }
}

// Рекламный банер