<ion-menu [content]="content" class="menu">
    <ion-header class='logo' >
        <h2>Калининград</h2>
        <iframe src="assets/menu/index.html"></iframe>
    </ion-header>

    <ion-content class="mainmenu">
        <ion-list class="mainmenu" no-lines>
            <div *ngIf="currentAppVersion != newVer">
                <button *ngFor="let info of infoblocks" ion-item onclick="window.open('https://play.google.com/store/apps/details?id=com.itgluck.klobus39', '_system', 'location=yes'); return false;">
                  
                    <ion-icon name="download" item-left></ion-icon>
                    <h2>{{ info.title }}</h2>
                    <h4 class="inf">
                        {{info.subtitle}}
                        <i>{{newVer}}</i>
                    </h4>
                </button>
            </div>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="$primary">
                <ion-icon name="{{p.icon}}" item-left></ion-icon>
                <h2>{{p.title}}</h2>
            </button>
            <button ion-item onclick="window.plugins.socialsharing.share('KLoBus39 транспорт Калининградской области', 'Рекомендую приложение KLoBus39', 'https://pp.userapi.com/c638320/v638320752/4bd5e/UgZtg-jvSbs.jpg', 'https://play.google.com/store/apps/details?id=com.itgluck.klobus39')">
                <ion-icon name="share" item-left></ion-icon>
                <h2>Поделиться</h2>
            </button>
            <button menuClose ion-item (click)="goPromo()">
                <ion-icon name="cart" item-left></ion-icon>
                <h2>Магазин</h2>
            </button>
            <div (click) ="getUpdate();" class="http" >
                Версия: {{currentAppVersion}}
            </div>
        </ion-list>

    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>