@import url(https://fonts.googleapis.com/css?family=Viga);

* {
  margin:0;
}

#container {
  background:#fff;
  width:90%;
  height: 300px;
  border-radius: 10%;
  text-align: center;
  margin: 10px auto;
  color: #112;
  font-family: 'Viga', sans-serif;
  overflow: hidden;
}

#buttons a{
  display: inline-block;
  width: 40%;
  padding: 8px 5%;
  text-decoration: none;
  color: inherit;
}

#buttons a{
  background: #709CCB;
}

#buttons a.active{
  background: none;
}

#container h2{
  margin: 0 auto;
  font-size: 2em;
}

#container #info{
  height: 8em;
  width: 8em;
  background: rgb(152, 189, 219);
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
}

#time{
  padding-top: 18px;
  display: block;
  font-size: 3em;
}

#note{
  padding-right:20%;
  float: right;
}



html, body{
  min-height: 300px;
}

body {
  min-height:300px;
  margin:0;
}