
.about {
    font-size: 1.4rem;
    color: $text;
    padding: 16px;
    text-align: center;
}

.about p {
    color: $text;
    text-indent: 25px;
    // text-align: left;
    text-align: justify;
    padding: .25em;
}
.about li {
    text-align: left;
    margin-left: 2em;
}
.about h2 {
    text-align: center;
}
.about h3 {
    font-size: 1.8rem;
}
.about hr {
    min-width: 100%;
}
.button-full-md {
    margin-bottom: 1.2em;
}