<ion-header style="text-align:center;">
    <ion-navbar color="primary" (click)="showBanner();">
        <button ion-button menuToggle>
            <ion-icon name="menu" color="hidden" ></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button onclick="window.plugins.socialsharing.share('KLoBus39 транспорт Калининградской области', 'Рекомендую приложение KLoBus39', 'https://pp.userapi.com/c638320/v638320752/4bd5e/UgZtg-jvSbs.jpg', 'https://goo.gl/7O8QKI')">
                <ion-icon name="share" color="hidden"></ion-icon>
            </button>
            <button ion-button (click)="hide()" (click)="toggle();">
                <ion-icon name="search" color="hidden"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title logo-header>KLoBus39 </ion-title>
    </ion-navbar>

    <ion-toolbar color="primary" *ngIf="checked">
        <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)" placeholder="Укажите город или маршрут"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="citylist">
    <div class="subHeader" (click)="showBanner();">
        <!-- <iframe src=".././assets/timer/index.html"></iframe> -->
    <ion-slides autoplay="50000" loop="true" speed="800">
            <!-- <ion-slide>
                    <iframe src="./assets/timer/index.html"></iframe>
            </ion-slide> -->
            <ion-slide class="slide1">
                    <h2>Турнир в Калининграде</h2>
                    <span id='countdown'></span>
            </ion-slide>
            <ion-slide class="slide2">
                    <h2>День города</h2>
                    <span id='countdownKLG'></span>
            </ion-slide>
          </ion-slides>
        </div>
    <!--Accordion-->
    <div class="arrows accordion">

        <!--Железнодорожный вокзал-->

        <div class="tab" [ngClass]="{noimg: !visibility}">
            <input id="tab-elect" type="checkbox" name="tabs">

            <label for="tab-elect">Электрички
                <ion-icon name="subway" item-end></ion-icon>
            </label>
            <div class="tab-content">

                <ion-list class="trainbtn">
                    <div *ngFor="let train of trains">
                        <button ion-item (click)="trainList(train)" class="citylist">

                            Калининград - {{train.title}}
                            <br>
                            <div class='en'>Kaliningrad - {{train.en}}
                                <br>{{train.info}}</div>
                        </button>
                    </div>
                </ion-list>
            </div>
        </div> 

        <h5>Автовокзалы г.Калининград</h5>
        <!-- АвтоВокзалы -->
        <div class="tab">
            <input id="tab-2" type="checkbox" name="tabs">
            <label for="tab-2">Северный автовокзал
                <a href="geo:54.7214,20.50011?z=15&q=Северный вокзал">
                    <ion-icon item-end name="pin"></ion-icon>
                </a>
            </label>
            <div class="tab-content" [ngClass]="{invisible: !visibility}">

                <ion-list>
                    <div *ngFor="let data of spisok">
                        <button ion-item (click)="openNavDetailsPage2(data)" class="citylist">
                            {{data.title }}
                            <br>
                            <div class='en'>{{data.en}}</div>
                            <span item-right class='numb'>
                                <ion-icon start name="bus"></ion-icon>
                                {{data.numb}}
                            </span>
                        </button>
                    </div>
                </ion-list>
            </div>
        </div>

        <div class="tab">
            <input id="tab-3" type="checkbox" name="tabs">
            <label for="tab-3">Южный автовокзал
                <a href="geo:54.6935,20.50188?z=15&q=Южный вокзал">
                    <ion-icon name="pin" item-end></ion-icon>
                </a>
            </label>
            <div class="tab-content" [ngClass]="{invisible: !visibility}">

                <ion-list>
                    <div *ngFor="let item of items">
                        <button ion-item (click)="openNavDetailsPage(item)" class="citylist">
                            {{ item.title }}
                            <br>
                            <div class='en'>{{item.en}}</div>
                            <span item-right class='numb'>
                                <ion-icon start name="bus"></ion-icon>{{item.numb}}</span>
                        </button>
                    </div>
                </ion-list>
            </div>
        </div>

        <h5>Автостанции Калининградской области</h5>

        <div class="tab">
            <input id="tab-5" type="checkbox" name="tabs">
            <label for="tab-5">Гусев
                <a href="geo:54.585265,22.198909?z=8&q=Гусев жд вокзал">
                    <ion-icon name="pin" item-end></ion-icon>
                </a>
            </label>
            <div class="tab-content" [ngClass]="{invisible: !visibility}">
                <ion-list>
                    <div *ngFor="let gus of gusev">
                        <button ion-item (click)="openNavDetailsGus(gus)" class="citylist">
                            {{gus.title }}
                            <br>
                            <div class='en'>{{gus.en}}</div>
                            <span item-right class='numb'>
                                <ion-icon start name="bus"></ion-icon>{{gus.numb}}</span>
                        </button>
                    </div>
                </ion-list>
            </div>
        </div>


        <div class="tab">
            <input id="tab-6" type="checkbox" name="tabs">
            <label for="tab-6">Черняховск
                <a href="geo:54.6311,21.8202?z=9&q=Черняховск автовокзал">
                    <ion-icon name="pin" item-end></ion-icon>
                </a>
            </label>
            <div class="tab-content" [ngClass]="{invisible: !visibility}">
                <ion-list>
                    <div *ngFor="let cher of chernahovsk">
                        <button ion-item (click)="openNavDetailsCher(cher)" class="citylist">
                            {{cher.title }}
                            <br>
                            <div class='en'>{{cher.en}}</div>
                            <span item-right class='numb'>
                                <ion-icon start name="bus"></ion-icon>{{cher.numb}}</span>
                        </button>
                    </div>
                </ion-list>
            </div>
        </div>

        <div class="tab">
            <input id="tab-8" type="checkbox" name="tabs">
            <label for="tab-8">Гвардейск
                <a href="geo:54.6311,21.8202?z=9&q=Гвардейск автостанция">
                    <ion-icon name="pin" item-end></ion-icon>
                </a>
            </label>
            <div class="tab-content" [ngClass]="{invisible: !visibility}">
                <ion-list>
                    <div *ngFor="let gvard of gvardeysk">
                        <button ion-item (click)="openNavDetailsGvard(gvard)" class="citylist">
                            {{gvard.title }}
                            <br>
                            <div class='en'>{{gvard.en}}</div>
                            <span item-right class='numb'>
                                <ion-icon start name="bus"></ion-icon>{{gvard.numb}}</span>
                        </button>
                    </div>
                </ion-list>
            </div>
        </div>

        <div class="tab">
            <input id="tab-7" type="checkbox" name="tabs">
            <label for="tab-7">Большаково
                <a href="geo:54.8805,21.6521?z=8&q=Большаково автостанция">
                    <ion-icon name="pin" item-end></ion-icon>
                </a>
            </label>
            <div class="tab-content" [ngClass]="{invisible: !visibility}">
                <ion-list>
                    <div *ngFor="let bolsh of bolshakovo">
                        <button ion-item (click)="openNavDetailsBolsh(bolsh)" class="citylist">
                            {{bolsh.title }}
                            <br>
                            <div class='en'>{{bolsh.en}}</div>
                            <span item-right class='numb'>
                                <ion-icon start name="bus"></ion-icon>{{bolsh.numb}}</span>
                        </button>
                    </div>
                </ion-list>
            </div>
        </div>

        <div class="tab">
            <input id="tab-12" type="checkbox" name="tabs">
            <label for="tab-12">Озерск
                <a href="geo:54.943894,22.492978?z=8&q=Озерск автостанция">
                    <ion-icon name="pin" item-end></ion-icon>
                </a>
            </label>
            <div class="tab-content" [ngClass]="{invisible: !visibility}">
                <ion-list>
                    <div *ngFor="let ozer of ozersk">
                        <button ion-item (click)="openNavDetailsOzersk(ozer)" class="citylist">
                            {{ozer.title }}
                            <br>
                            <div class='en'>{{ozer.en}}</div>
                            <span item-right class='numb'>
                                <ion-icon start name="bus"></ion-icon>{{ozer.numb}}</span>
                        </button>
                    </div>
                </ion-list>
            </div>
        </div>

        <div class="tab">
            <input id="tab-4" type="checkbox" name="tabs">
            <label for="tab-4">Советск
                <a href="geo:55.081515,21.87958?z=9&q=АВ Советск">
                    <ion-icon name="pin" item-end></ion-icon>
                </a>
            </label>
            <div class="tab-content" [ngClass]="{invisible: !visibility}">
                <ion-list>
                    <div *ngFor="let sov of sovetsk">
                        <button ion-item (click)="openNavDetailsSov(sov)" class="citylist">
                            {{sov.title }}
                            <br>
                            <div class='en'>{{sov.en}}</div>
                            <span item-right class='numb'>
                                <ion-icon start name="bus"></ion-icon>{{sov.numb}}</span>
                        </button>
                    </div>
                </ion-list>
            </div>
        </div>

        <h5>Балтийская коса</h5>

        <div class="tab">
            <input id="tab-14" type="checkbox" name="tabs">
            <label for="tab-14">Паром
                <ion-icon name="boat" item-end></ion-icon>
            </label>
            <div class="tab-content" [ngClass]="{invisible: !visibility}">
                <ion-list>
                    <div *ngFor="let boat of parom">
                        <button ion-item (click)="openNavDetailsParom(boat)" class="citylist">
                            {{boat.title}}
                            <br>
                            <div class='en'>{{boat.en}}</div>
                            <span item-right class='numb'>
                                <ion-icon start name="boat"></ion-icon>
                            </span>
                        </button>
                    </div>
                </ion-list>
            </div>
        </div>
    </div>

</ion-content>

<!-- 
    				<div class="tab">
				<input id="tab-9" type="checkbox" name="tabs">
				<label for="tab-9">Железнодорожный 
				<a href="geo:54.361693,21.305466?z=7">
				<ion-icon name="pin" item-end></ion-icon>
				</a>               
				</label>
					<div class="tab-content" [ngClass]="{invisible: !visibility}">
						<ion-list>
							<div *ngFor="let jzd of jzdorojniy">
								<button ion-item (click)="openNavDetailsJzd(jzd)" class="citylist">
								{{jzd.title }}<br><div class='en'>{{jzd.en}}</div>
								<span item-right class='numb'><ion-icon start name="bus"></ion-icon>{{jzd.numb}}</span> 
								</button>
							</div>
						</ion-list>
					</div>
				</div>

				<div class="tab">
				<input id="tab-10" type="checkbox" name="tabs">
				<label for="tab-10">Краснознаменск 
				<a href="geo:54.943894,22.492978?z=8&q=Краснознаменск автостанция">
				<ion-icon name="pin" item-end></ion-icon>
				</a>               
				</label>
					<div class="tab-content" [ngClass]="{invisible: !visibility}">
						<ion-list>
							<div *ngFor="let krz of krznamensk">
								<button ion-item (click)="openNavDetailsKrz(krz)" class="citylist">
								{{krz.title }}<br><div class='en'>{{krz.en}}</div>
								<span item-right class='numb'><ion-icon start name="bus"></ion-icon>{{krz.numb}}</span> 
								</button>
							</div>
						</ion-list>
					</div>
				</div>
				
				<div class="tab">
				<input id="tab-11" type="checkbox" name="tabs">
				<label for="tab-11">Неман 
				<a href="geo:54.943894,22.492978?z=8&q=Неман автостанция">
				<ion-icon name="pin" item-end></ion-icon>
				</a>       
				</label>
				<div class="tab-content" [ngClass]="{invisible: !visibility}">
						<ion-list>
							<div *ngFor="let nem of neman">
								<button ion-item (click)="openNavDetailsNeman(nem)" class="citylist">
								{{nem.title }}<br><div class='en'>{{nem.en}}</div>
								<span item-right class='numb'><ion-icon start name="bus"></ion-icon>{{nem.numb}}</span> 
								</button>
							</div>
						</ion-list>
					</div>
				</div>
				
				<div class="tab">
				<input id="tab-13" type="checkbox" name="tabs">
				<label for="tab-13">Правдинск
				<a href="geo:54.4463,21.01878?z=9&q=Правдинск автостанция">
				<ion-icon name="pin" item-end></ion-icon>
				</a>
				</label>
				<div class="tab-content" [ngClass]="{invisible: !visibility}">
						<ion-list>
							<div *ngFor="let prav of pravdinsk">
								<button ion-item (click)="openNavDetailsPravdinsk(prav)" class="citylist">
								{{prav.title }}<br><div class='en'>{{prav.en}}</div>
								<span item-right class='numb'><ion-icon start name="bus"></ion-icon>{{prav.numb}}</span> 
								</button>
							</div>
						</ion-list>
					</div>
				</div>
 -->