
.citylist {
    color: $primary;
       background: #EBEDEE;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;

    h5 {
    color: $hidden;
    font-size: 1.4rem;

}
ion-grid {
    margin-top: -1.5em;
}
button{
    background: #fff;
}

}
ion-content {
    bottom: 8em;
    position: absolute;
}


// Рекламный банер

promo-box {
    max-height: 15em;
}

.bg {
    background: #fff;
}

.searchbar-md .searchbar-input {
    border-radius: 8px;
}

.img {
    min-width: 100%;
    border: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 2px 7px;
}



.logo-header {
    max-height: 1.5em;
    margin: 0px auto;
    margin-left: -2em;
}

.logo-header :before {
    text-align: center;
}

.row div {
    padding: 0px auto;
    text-align: center;
    background: url(https://unsplash.it/440/500?blur);
    background-size: cover;
    height: 25%;
}

.table {
    width: 100%;
    text-align: center;
    font-size: .8em;
    color: $hidden;
}

.table tbody {
    max-width: 420px;
    margin-top: 15px;
}

.titlenumb {
    width: 40%;
    span {
    font-size: 3em;
    color: $primary;
    background: $bg2;
    margin: 1rem;
    padding: 3px 6px;
    border-radius: 8px;
    border: 1px solid $secondary;
    // box-shadow: 0 -1px 2px #9CC6D7, 0 0 2px rgba(103, 153, 173, .12), 0 2px 4px rgba(0, 0, 0, .24);
    }
}

.border-top {
    border-top: 1px solid rgba(10,10,14, .2);;
    height: 3rem;
}
// End Spec
.citylist button span {
    border: 1px solid $primary;
    border-radius: 5px;
    font-weight: 500;
    background: #eee;
    text-align: center;
    min-width: 4.5rem;
    padding: 4px;
    // box-shadow: 0 1px 2px #9CC6D7, 0 0 2px rgba(103, 153, 173, .22), 0 2px 4px rgba(0, 0, 0, .24);
}

.trainbtn button {
    color: $train;
}

.trainbtn button span {
    border: 1px solid $primary;
    text-align: center;
    min-width: 55px;
    border-radius: 5px;
    margin: 8px;
    padding: 2px 5px;
    font-size: .8em;
    box-shadow: 0 1px 2px #9CC6D7, 0 0 2px rgba(103, 153, 173, .22), 0 2px 4px rgba(0, 0, 0, .24);
}

.citylist ion-label {
    font-variant: caps;
    font-size: 1.68rem;
}

.sitylist .icon {
    font-size: 1.4em;
}

.citylist ion-label:after {
    position: absolute;
    display: inline-block;
    line-height: 1;
    content: '\203a';
    font-size: 30pt;
    right: 6px;
    top: 2px;
    transition: transform .15s ease-in-out;
    color: $hidden;
}

.city {
    padding-bottom: 72px;
}

.numb {
    font-size: 1.45rem;
    position: absolute;
    top: 12%;
    right: 5%;
    // color: $secondary;
}

.en {
    color: $hidden;
    padding-left: 12px;
    padding-bottom: 5px;
    font-size: .8em;
    // line-height: 12px;
    font-weight: 300;
}

.trainbtn .rout {
    width: 80%;
    text-align: center;
    height: 2em;
    display: none;
}
.item-md {
    padding-left: 12px;
}
.item-md [item-left], .item-md [item-right] {
    margin: 5px 8px 8px 0;
}

.item-md ion-icon[item-left]+.item-inner,
.item-md ion-icon[item-left]+.item-input {
    margin-left: 0px;
}

.item {
    // font-size: 1.6rem;
    font-weight: 500;
}

.item>ion-icon {
    min-height: 3rem;
    font-size: 3rem;
    line-height: 1;
}

.detals {
    font-size: 1.2em;
    color: $primary;
}

label::after {
    width: 1em;
    height: 1em;
    position: absolute;
    left: 10px;
    text-align: center;
    color: $bg;
    font-size: 2em;
}

.time {
    max-width: 5em;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    position: relative;
    margin: 0 auto;
    color:$primary;
}

.info {
    color: $hidden;
    margin-bottom: .5em;
    padding: 0 1.5em;
    text-align: center;
}

.stop {
    color: $secondary;
}

.station {
    padding: 5px 0px 5px;
    color: $secondary;
    font-size: 1.1em;
    line-height: 26px;
    min-width: 60%;
}

.bar-button {
    font-size: 2rem;
    padding-right: 6px;
}

// ******************
.flex-container {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}


ul {
    display: flex;
    position: relative;
    width: 90%;
    padding-bottom: 0px;
    list-style-type: none;
}

li {
    flex-grow: 1;
    padding: 0px;
    text-align: center;
    &:last-child {
        margin-right: 0;
        text-align: center;
    }
}

.flex-item {
    display: block;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    color: #666;
    // margin-bottom: 3px;
    // background-color:rgba(232,234,235,.3);
}

// Accordion
.arrows section .box-title {
    // padding-left: 44px;
    width: 100%;
}

.arrows section .box-title:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 28pt;
    left: 20px;
    top: -3px;
    transition: transform .15s ease-in-out;
    color: $bg;
}

input:checked+section.box .box-title:before {
    transform: rotate(90deg);
}

// END .accordion
//  <img src="assets/img/map_s.png">
//  End  
.baner{
    width: 100%;
    // height: 30%;
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
}
.main-map{
    width: 100%;
    // height: 30%;
    max-width: 900px;
    margin: 0px auto;
    // text-align: center;
}
.img-box-bg {
    background-repeat: no-repeat;    
    background-position: center;
    margin-bottom: -5.2em;
          min-height: 14em;
    @media screen and (max-width: 440px) {
          min-height: 9em;
     }
    @media screen and (min-width: 640px) {
        //   background-size: 100%;
          min-height: 18em;
     }

}
.sever {
    background: url(../assets/img/map_s.png);
    background-size: cover;

}
.ug {
    background: url(../assets/img/map_u.png);
    background-size: cover;
}
.sov {
    background: url(../assets/img/map_sov.png);
    background-size: cover;
}
.cher {
    background: url(../assets/img/map_cher.png);
    background-size: cover;
}
.gus {
    background: url(../assets/img/map_gus.png);
    background-size: cover;
}
.bol {
    background: url(../assets/img/map_bol.png);
    background-size: cover;
}
.gvrd {
    background: url(../assets/img/map_gvrd.png);
    background-size: cover;
}
.jzd {
    background: url(../assets/img/map_jzd.png);
    background-size: cover;
}
.krz {
    background: url(../assets/img/map_krz.png);
    background-size: cover;
}
.neman {
    background: url(../assets/img/map_neman.png);
    background-size: cover;
}
.ozer {
    background: url(../assets/img/map_ozer.png);
    background-size: cover;
}
.prav {
    background: url(../assets/img/map_prav.png);
    background-size: cover;
}



.watermark {
    opacity: .6;
    position: relative;
    top: -30px;
    left: 10px;
    float: left;
}


/* Acordeon styles */

.accordion {
    margin: 3px auto;
    width: 100%;
    // padding: 2%;
}

.accordion input {
    display: none;
}

.tab {
    width: 100%;
    color: $primary;
    overflow: hidden;
    background: $bg;
    margin-bottom: .3em;
    transition: all .15s ease-in-out;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

label {
    position: relative;
    width: 100%;
    line-height: 3em;
    padding: 0 3em;
    color: $primary;
    background: #EEEEEE;
    font-size: 1.2em;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab-content {
    display: none;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.tab-content {
    text-align: center;
    margin-top: 4px;
}

.tab-content p {
    font-size: .8em;
    letter-spacing: .1em;
    color: $bg;
    padding: 8px;
    background: $hidden2;
    margin-bottom: 0em;

}


/* :checked */

input:checked~.tab-content {
    display: block;
}

label:checked {
    font-weight: bold;
}
/* Icon */

.tab label::after {
    width: 1em;
    height: 1em;
    position: absolute;
    left: 10px;
    text-align: center;
    color: $hidden;
    font-size: 2em;
}

input[type=checkbox]+label::after {
    content: "\203a";
}

input[type=radio]+label::after {
    content: "\25BC";
}

input[type=checkbox]:checked+label::after {
    transform: rotate(90deg);
    position: absolute;
    left: 20px;
    top: 10px;
}

input[type=checkbox]:checked+label {
    font-weight: 600;
    box-shadow: 0px 3px 3px $hidden2;
}

input[type=radio]:checked+label::after {
    transform: rotateX(180deg);
}